@import "node_modules/bootswatch/dist/united/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/united/bootswatch";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  padding: 3rem;
}
footer {
  text-align: center;
  border-top: $gray-900 1px solid;
  margin-top: auto;
}


.navbar{
  @extend .bg-light;
}
.navbar-brand img{
  width: 2rem;
  height: 2rem;
}

.card {
  @extend .mb-3;
  max-width: 60rem;
  margin: auto;
}

.CardCover {
  @extend .rounded-start;
  width: 100%;
  height: auto;
}

.btn-group {
  @extend .my-2;
}
.form-control{
  @extend .my-3;
}
form{
  max-width: 40rem;
  margin: auto;
  background-color: $gray-100;
  @extend .p-4, .border, .rounded;
}

.dark {
  background-color: $gray-900;
  color: $white;
  .navbar{
    @extend .bg-primary;
  }
  .card{
    background-color: $gray-800;
    color: $white;
    border-color: $gray-600;
  }
  form{
    background-color: $gray-800;
  }
}



